{
  "extends": "airbnb-base",
  "rules": {
    "arrow-parens": ["error", "always"],
    "complexity": ["error", 30],
    "global-require": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "max-depth": ["error", 4],
    "max-nested-callbacks": ["error", 3],
    "max-params": ["error", 5],
    "max-statements": ["error", 50],
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "max-lines": ["error", {
      "max": 1000,
      "skipBlankLines": true,
      "skipComments": true
    }],
    "prefer-destructuring": "off"
  },
  "env": {
    "node": true,
    "mocha": true
  }
}
